@import (reference) "_includes";

body {
    font-family: @BASE-FONT;
    overflow: hidden;
    background-color: @BG-COLOR;
}
.item-block {
    transform: translateY(10px);
    box-sizing: border-box;
}